<app-layout>

    <!-- <p>{{titulo}}</p> -->

    <!-- Antes, o título abaixo era um h3 (menor),
        eu alterei para um maior (h1)-->

    <h1 [textContent]="titulo"></h1>


    <!-- ABAIXO, UTILIZANDO O DATA BINDING -->


    <label>Código: </label>
    <input type="text" [(ngModel)]="pessoa.codigo" />
    <br>
    <br>
    <label>Nome: </label>
    <input type="text" [(ngModel)]="pessoa.nome" />
    <br><br>
    <label>Telefone: </label>
    <input type="text" [(ngModel)]="pessoa.telefone" />
    <br><br>
    <label>Data de nascimento: </label>
    <input type="date" [(ngModel)]="pessoa.dataNascimento" />
    <br><br>
    <label>Endereço: </label>
    <input type="text" [(ngModel)]="pessoa.endereco" />
    <br><br>
    <label>Bairro: </label>
    <input type="text" [(ngModel)]="pessoa.bairro" />
    <br><br>
    <label>Cidade: </label>
    <input type="text" [(ngModel)]="pessoa.cidade" />
    <br><br>
    <label>Estado: </label>
    <input type="text" [(ngModel)]="pessoa.estado" />
    <br><br>
    <label>Ativo: </label>
    <input type="radio" [(ngModel)]="pessoa.ativo" [value]="true" />Sim
    <input type="radio" [(ngModel)]="pessoa.ativo" [value]="false" />Não

    <br><br>

    <button (click)="imprimir()"> Imprimir </button> &nbsp; <button (click)="incluir()">Incluir</button>
    <br><br>
    <!-- <button (click)="invertermostrar()"> Mensagem secreta </button> -->
    <!-- 
        <br>
    <h3 *ngIf="mostrar"> Surpriiiiiiise! </h3>
    <br> -->


    <br><br>
    <table border="1">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Data de Nascimento</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Ativo</th>
        </tr>
        <tr *ngFor="let pessoa of listaPessoas">
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.telefone}}</td>
            <td>{{pessoa.dataNascimento}}</td>
            <td>{{pessoa.endereco}}</td>
            <td>{{pessoa.bairro}}</td>
            <td>{{pessoa.cidade}}</td>
            <td>{{pessoa.estado}}</td>
            <td *ngIf="pessoa.ativo">Sim</td>
            <td *ngIf="!pessoa.ativo">Não</td>
        </tr>


    </table>


</app-layout>