<app-layout  *ngIf="operacao =='pesquisar'">
    
    <br />
    
    <h5>Tabela de Pessoas</h5>
    <table border="1">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Data de Nascimento</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Ativo</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr *ngFor="let pessoa of listaPessoas">
            <td>{{ pessoa.codigo }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.telefone }}</td>
            <td>{{ pessoa.dataNascimento  | date:'dd/MM/yyyy'}}</td>
            <td>{{ pessoa.endereco }}</td>
            <td>{{ pessoa.bairro }}</td>
            <td>{{ pessoa.cidade }}</td>
            <td>{{ pessoa.estado }}</td>
            <td *ngIf="pessoa.ativo">Sim</td>
            <td *ngIf="!pessoa.ativo">Não</td>
            <td style="cursor: pointer;"><a (click)="alterar(pessoa)">Editar</a></td>
        </tr>

    </table>

    <button (click)="incluir()">incluir</button> 

</app-layout>
<app-pessoa-manter [pessoa]="pessoa" (pessoaEnviar)="adicionarPessoa($event)"></app-pessoa-manter> 
